body {
  background-color: #004643;
}
/* start of styling for home page */
.social_links {
  float: right;
  margin-top: 2%;
  margin-right: 5%;
}
.page_links {
  display: inline-block;
  margin-left: 5%;
  margin-top: 2%;
}
.social-icon {
  color: #f9bc60;
  font-size: 50px;
  transition: color 0.2s;
  text-decoration: none;
  margin: 15px 15px;
}
a {
  text-decoration: none;
  color: inherit;
}
html {
  scroll-behavior: smooth;
}

.social-icon:hover {
  color: white;
  cursor: pointer;
}

.intro {
  color: #abd1c6;
  font-size: 90px;
  font-weight: 700;
  justify-content: center;
  margin-top: 10%;
  text-align: center;
  font-family: Montserrat, sans-serif;
}
.name {
  color: #f9bc60;
}

.moveInwards {
  animation: moveInwards 1s;
}
@keyframes moveInwards {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
.boxes {
  padding: 5px;
  font-size: 35px;
  color: #004643;
  font-family: Montserrat, sans-serif;
  font-weight: 900;
  border: solid #abd1c6;
  box-sizing: border-box;
  border-width: 2px;

  background: linear-gradient(to right, #f9bc60 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.15s ease-out;
}
.new-div {
  margin-top: 13%;
}
.projects-div {
  width: 100%;
  margin-top: 20%;
}
.image-div {
  display: flex;
  justify-content: center;
  float: left;
  width: 70%;
}
.map-img {
  width: 75%;
  height: 100%;
  border-radius: 100px;
}
.app-img {
  width: 75%;
  height: 500px;
  border-radius: 100px;
  margin-top: 5%;
}

.info-div {
  border-radius: 10px;
  color: white;
  width: 25%;
  height: 100%;
  float: left;
  margin-right: 5%;
  margin-top: 5%;
}
.project-button {
  display: inline;
  text-align: center;
  border-radius: 20px;
  width: fit-content;
  padding: 10px 15px;
  background-size: 200% 200%;
  border: white;
  margin-top: 10px;
}
.project2-button {
  display: inline;
  text-align: center;
  border-radius: 20px;
  width: fit-content;
  padding: 10px 15px;
  background-size: 200% 200%;
  border: white;
  margin-top: 10px;
}
.project-button:hover {
  text-decoration: underline;
}
.project2-button:hover {
  text-decoration: underline;
}
.boxes:hover {
  background-position: left bottom;
  color: white;
}

.mainHeaders {
  color: #abd1c6;
  font-size: 25px;
  justify-content: center;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* end of styling for home page*/

/*start of styling for about page*/
.center {
  justify-content: center;
  text-align: center;
}
.about_box {
  margin-left: 5%;
  margin-right: auto;
  margin-top: 5%;
  width: 40%;
  padding: 5px;
  font-size: 35px;
  color: #abd1c6;
  font-family: Montserrat, sans-serif;
  font-weight: 900;
  border: solid #abd1c6;
  box-sizing: border-box;
  border-width: 2px;
  float: left;
  box-shadow: 10px 10px 10px rgba(5, 5, 5, 5);
}
.headerFont {
  color: white;
  text-decoration: underline;
}
.about {
  margin-top: 5%;
  text-align: center;
  margin-right: 5%;
  align-content: center;
  justify-content: center;
  text-align: center;
}
.skills_box {
  margin-right: 5%;
  margin-top: 5%;
  width: 40%;
  padding: 5px;
  font-size: 35px;
  color: #abd1c6;
  font-family: Montserrat, sans-serif;
  font-weight: 900;
  border: solid #abd1c6;
  box-sizing: border-box;
  border-width: 2px;
  float: right;
  box-shadow: 10px 10px 10px rgba(5, 5, 5, 5);
}
.skills {
  margin-top: 5%;
  text-align: center;
  margin-right: 5%;
  align-content: center;
  justify-content: center;
  text-align: center;
}
/* end of styling for about page */

/* start of styling for contact page */
.contact {
  color: #abd1c6;
}
.messageBox {
  height: 150px;
  width: 40%;
  margin: 5px 0;
}
.contact-boxes {
  justify-content: center;
  text-align: center;
  border-width: 5px;
}

input {
  width: 40%;
  height: 45px;
  margin: 5px 0;
}
.sendButton {
  text-decoration: none;
  background-color: white;
  border-color: #abd1c6;
  border-width: 2px;
  font-size: 30px;
  color: #004643;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 5px 0;

  background: linear-gradient(to right, #f9bc60 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.15s ease-out;
}
.sendButton:hover {
  background-position: left bottom;
  color: white;
}
/* end of styling for contact page*/
