body {
  background-color: #2f4f4f;
  overflow-x: hidden;
  font-family: Roboto Mono, monospace;
}
/* links and intro styles */
.social_links {
  float: right;
  margin-top: 4vh;
  margin-right: 4vh;
}

.social-icon ion-icon {
  pointer-events: none;
}
.page_links {
  display: inline-block;
  margin-left: 4vh;
  margin-top: 4vh;
}
.social-icon {
  color: #f2f2f2;
  font-size: 8vh;
  transition: color 0.2s;
  text-decoration: none;
  margin: 3vh 3vh;
}
a {
  text-decoration: none;
  color: inherit;
}
html {
  scroll-behavior: smooth;
}

.social-icon:hover {
  color: #ff7f50;
  cursor: pointer;
}

.intro {
  color: #f2f2f2;
  font-size: 12vh;
  font-weight: 700;
  justify-content: center;
  margin-top: 10%;
  text-align: center;
  font-family: Roboto Mono, monospace;
}
.name {
  color: #ff7f50;
}

.boxes {
  padding: 1vh;
  font-size: 6vh;
  color: #004643;
  font-family: Montserrat, sans-serif;
  font-weight: 900;
  border: solid #ff7f50;
  box-sizing: border-box;
  border-width: .75vh;
  margin-bottom: 5vh;
  background: linear-gradient(to right, #ff7f50 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.15s ease-out;
}

/* end of syling for links and intro*/

/*Start of styling for projects section */

#projects{
  margin-bottom: 15%;
  margin-top: 5%;
}
.projects-div {
  width: 100%;
}
.image-div {
  display: flex;
  justify-content: center;
  float: left;
  width: 65%;
  margin-bottom: 20%;

}

.app-img {
  width: 75%;
  height: 60vh;
  border-radius: 10vh;
}

.info-div {
  border-radius: 3vh;
  color: white;
  width: 30%;
  height: 100%;
  float: left;
  margin-right: 2vh;
  margin-bottom: 20%;
}

.project-button {
  display: inline;
  text-align: center;
  border-radius: 4vh;
  width: fit-content;
  padding: 2vh 2.5vh;
  background-size: 200% 200%;
  border: white;
  margin-top: 4vh;
}

.project-button:hover {
  text-decoration: underline;
}
.boxes:hover {
  background-position: left bottom;
  color: white;
}

.contactHeader {
  color: #ff7f50;
  font-size: 4vh;
  justify-content: center;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/*
.backToTop {
  color: white;
  font-size: 80px;
  align-items: center;
  text-align: center;
  position: fixed;
  bottom: 0;
  margin-bottom: 5%; 
}


.backToTop:hover {
  color: #ff7f50;
  cursor: pointer;
  text-decoration: none;

}
.boxes ion-icon {
  pointer-events: none;
}*/
/* end of styling for home page*/

/*start of styling for about page*/
.center {
  justify-content: center;
  text-align: center;
}

.headerFont {
  color: white;
  box-shadow: 10px 10px 10px rgba(5, 5, 5, 5);
  border-radius: 20px;
}

/* end of styling for about page */

/* start of styling for contact page */
.contact {
  color: #abd1c6;
}
.messageBox {
  height: 25vh;
  width: 40vw;
  margin: 1.5vh 0;
}
.contact-boxes {
  justify-content: center;
  text-align: center;
 

}

input {
  width: 40%;
  height: 45px;
  margin: 5px 0;
}
.sendButton {
  text-decoration: none;
  background-color: white;
  border-color: #ff7f50;
  border-width: .5vh;
  font-size: 30px;
  color: #004643;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 1.25vh 0;

  background: linear-gradient(to right, #ff7f50 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.15s ease-out;
}
.sendButton:hover {
  background-position: left bottom;
  color: white;
}
.animate-left {
  transform: translateX(
    -150%
  ); /* Move the element off the screen to the left */
  /*animation: moveIn 1s ease forwards; /* Apply the animation */
  opacity: 0;
}
.animate-right {
  transform: translateX(150%);
  opacity: 0;
}
@keyframes moveLtoR {
  0% {
    opacity: 0;
    transform: translateX(-150%); /* Off-screen position */
  }
  100% {
    opacity: 1;
    transform: translateX(
      0
    ); /* Move the element back to its original position */
  }
}

@keyframes moveRtoL {
  0% {
    opacity: 0;
    transform: translateX(150%); /* Off-screen position */
  }
  100% {
    opacity: 1;
    transform: translateX(
      0
    ); /* Move the element back to its original position */
  }
}

.show-left {
  animation: moveLtoR 1s ease forwards;
  opacity: 1;
}
.show-right {
  animation: moveRtoL 1s ease forwards;
  opacity: 1;
}
.info {
  display: inline-block;
  vertical-align: middle;
  margin-right: 2vh;
  margin-top: 2vh;
  color: #f2f2f2;
  font-size: 8vh;
  text-decoration: none;
}

.info:hover {
  color: #ff7f50;
  cursor: pointer;
}

.hidden-info {
  display: none;
  color: #ff7f50;
  font-size: 3vh;
}

.info:hover + .hidden-info {
  display: inline-block; /* Change to inline-block to occupy the same space as .info */
  margin-right: 2vh; /* Maintain the same margin as .info */
  vertical-align: middle; /* Align vertically with .info */
}

.info ion-icon {
  pointer-events: none;
}